# Core packages
python-dotenv==0.12.0  # Read environment variables from .env
Flask==1.1.2           # Web microframework
uWSGI==2.0.18          # Application server
syspath==2.0.0         # Modify paths

# Features
feedgen==0.9.0         # Generate atom feeds
flask-sitemap==0.3.0   # Web sitemaps
markdown2==2.3.8       # Markdown formatting
Pygments==2.5.2        # Syntax highlighting support
pytz==2019.3           # Timezone support

# Monitoring/tracking/logging
blinker==1.4           # Dependency of rollbar
newrelic==5.10.0.138   # Website monitoring
rollbar==0.14.7        # rollbar.com error logging
varsnap==1.1.1         # Test discovery
