# Core packages
python-dotenv==0.20.0  # Read environment variables from .env
Flask==2.1.2           # Web microframework
uWSGI==2.0.20          # Application server
syspath==3.0.1         # Modify paths

# Features
feedgen==0.9.0         # Generate atom feeds
flask-sitemap==0.4.0   # Web sitemaps
markdown2==2.4.2       # Markdown formatting
Pygments==2.11.2       # Syntax highlighting support

# Monitoring/tracking/logging
blinker==1.4           # Dependency of rollbar
rollbar==0.16.3        # rollbar.com error logging
varsnap==1.5.1         # Test discovery
