# Core packages
python-dotenv==1.0.0   # Read environment variables from .env
Flask==3.0.0           # Web microframework
gunicorn==21.2.0       # WSGI server
syspath==3.0.5         # Modify paths

# Features
feedgen==0.9.0         # Generate atom feeds
flask-sitemap==0.4.0   # Web sitemaps
markdown2==2.4.12      # Markdown formatting
Pygments==2.17.2       # Syntax highlighting support

# Monitoring/tracking/logging
blinker==1.7.0         # Dependency of rollbar
rollbar==1.0.0         # rollbar.com error logging
setproctitle==1.3.3    # Allow gunicorn to set process title
varsnap==1.5.7         # Test discovery
