# Testing
coverage==6.2                    # Test coverage
flake8==4.0.1                    # Python linting

# Testing Help
titlecase==2.3                   # Used for checking that note titles are title case

# Types
mypy==0.931                      # Type checking
types-requests==2.27.7           # Type stubs for requests package
