{% extends "base.htm" %}
{% block title %}Albert Wang{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="content">
    <section>
      <h1>Open Source</h1>
      <section>
        <h2>Ruby</h2>
        <section>
          <h3>AppleDEPClient</h3>
        </section>
        <section>
          <h3>IOSConfigProfile</h3>
        </section>
      </section>
      <section>
        <h2>Python</h2>
        <section>
          <h3>ItolAPI</h3>
        </section>
        <section>
          <h3>Mailgun2</h3>
        </section>
        <section>
          <h3>PyZipTax</h3>
        </section>
      </section>
      <section>
        <h2>Javascript</h2>
        <section>
          <h3>ajax-cache-parser</h3>
        </section>
      </section>
    </section>
  </div>
{% endblock %}
