<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="UYCq-dPrxkMhC7ZfCAhr9-sZQL_cJoOBf2EzJpqKho8" />
    <link rel="alternate" href="{{ request.base_url }}" hreflang="en-us" />
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/bundle.min.css') }}" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    {% include "includes/rollbar.htm" %}
    {% include "includes/segment.htm" %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mb-0 h1" href="/">albertyw.com</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ url_for('handlers.resume') }}">Resum&eacute;</a>
            <a class="nav-item nav-link" href="{{ url_for('handlers.projects') }}">Projects</a>
            <a class="nav-item nav-link" href="{{ url_for('handlers.notes') }}">Notes</a>
            <a class="nav-item nav-link" href="{{ url_for('handlers.about') }}">About</a>
            <a class="nav-item nav-link" href="https://github.com/albertyw">Github</a>
          </div>
        </div>
      </nav>
      <div id="main">
        {% block content %}{% endblock %}
      </div>
      <footer id="footer">
        {% block footer %}
        &copy; by <a href="https://www.albertyw.com/">Albert Wang</a>.
        {% endblock %}
      </footer>
    </div>
    <script src="{{ url_for('static', filename='gen/bundle.min.js') }}"></script>
  </body>
</html>
