{% extends "includes/base.htm" %}
{% block title %}Albert Wang - Contact{% endblock %}
{% block description %}Contact{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1>Albert Wang</h1>
  </div>
  <img src="/static/face.jpg" alt="face" class="image-responsive d-block mx-auto" style="height:400px;width:400px" />
  <section class="content">
    <h1>Contact and Links</h1>
    <ul>
      <li><a href="https://github.com/albertyw">Github</a></li>
      <li><a href="https://libraries.io/github/albertyw">Github Libraries</a></li>
      <li><a href="https://www.linkedin.com/in/aywang31">LinkedIn</a></li>
    </ul>
  </section>
{% endblock %}
