{% extends "base.htm" %}
{% block title %}Albert Wang - Notes{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="content">
    <h1>Notes</h1>
    {% for post in posts %}
      <section class="note">
        <h2>
          {{ post['title'] | safe }}
        </h2>
        <subtitle>
          {{ post['time'].strftime("%B %-d, %Y") }}
        </subtitle>
        <p>
          {{ post['note'] | safe }}
        </p>
        <a href="{{ url_for('note', slug=post['slug']) }}">Permalink</a>
      </section>
    {% endfor %}
  </div>
{% endblock %}
