{% extends "base.htm" %}
{% block title %}Albert Wang - Projects{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="content">
    <section>
      <h1>Open Source</h1>
      <section>
        <h2>Ruby</h2>
        <section>
          <h3>AppleDEPClient</h3>
          API for Apple's Device Enrollment Program
          <br />
          <a href="https://github.com/cellabus/apple_dep_client">
            <img class="project-logos" src="{{ url_for('static', filename='github.png') }}" />
          </a>
          <a href="https://rubygems.org/gems/apple_dep_client">
            <img class="project-logos" src="{{ url_for('static', filename='rubygems.png') }}" />
          </a>
        </section>
        <section>
          <h3>IOSConfigProfile</h3>
          Library for making configuration profiles for iOS
          <br />
          <a href="https://github.com/cellabus/ios_config_profile">
            <img class="project-logos" src="{{ url_for('static', filename='github.png') }}" />
          </a>
          <a href="https://rubygems.org/gems/ios_config_profile">
            <img class="project-logos" src="{{ url_for('static', filename='rubygems.png') }}" />
          </a>
        </section>
      </section>
      <section>
        <h2>Python</h2>
        <section>
          <h3>ItolAPI</h3>
          API for creating/downloading trees for the interactive Tree of Life (iTOL)
          <br />
          <a href="https://github.com/albertyw/itolapi">
            <img class="project-logos" src="{{ url_for('static', filename='github.png') }}" />
          </a>
          <a href="https://pypi.python.org/pypi/itolapi">
            <img class="project-logos" src="{{ url_for('static', filename='pypi.png') }}" />
          </a>
        </section>
        <section>
          <h3>Mailgun2</h3>
          Small legacy API for Mailgun
          <br />
          <a href="https://github.com/albertyw/python-mailgun2">
            <img class="project-logos" src="{{ url_for('static', filename='github.png') }}" />
          </a>
          <a href="https://pypi.python.org/pypi/mailgun2">
            <img class="project-logos" src="{{ url_for('static', filename='pypi.png') }}" />
          </a>
        </section>
        <section>
          <h3>PyZipTax</h3>
          API for grabbing US tax rates
          <br />
          <a href="https://github.com/albertyw/pyziptax">
            <img class="project-logos" src="{{ url_for('static', filename='github.png') }}" />
          </a>
          <a href="https://pypi.python.org/pypi/pyziptax">
            <img class="project-logos" src="{{ url_for('static', filename='pypi.png') }}" />
          </a>
        </section>
        <section>
          <h3>Git Browse</h3>
          Command line interface for opening up git repositories on github and phabricator
          <br />
          <a href="https://github.com/albertyw/git-browse">
            <img class="project-logos" src="{{ url_for('static', filename='github.png') }}" />
          </a>
          <a href="https://pypi.python.org/pypi/git-browse">
            <img class="project-logos" src="{{ url_for('static', filename='pypi.png') }}" />
          </a>
        </section>
      </section>
      <section>
        <h2>Javascript</h2>
        <section>
          <h3>ajax-cache-parser</h3>
          Library for parsing HTTP headers for caching information
          <br />
          <a href="https://github.com/albertyw/ajax-cache-parser">
            <img class="project-logos" src="{{ url_for('static', filename='github.png') }}" />
          </a>
          <a href="https://www.npmjs.com/package/ajax-cache-parser">
            <img class="project-logos" src="{{ url_for('static', filename='npm.png') }}" />
          </a>
        </section>
        <section>
          <h3>gentle-alerts</h3>
          Google chrome extension to convert alerts into gentle notifications
          <br />
          <a href="https://github.com/albertyw/gentle-alerts">
            <img class="project-logos" src="{{ url_for('static', filename='github.png') }}" />
          </a>
          <a href="https://www.npmjs.com/package/gentle-alerts">
            <img class="project-logos" src="{{ url_for('static', filename='npm.png') }}" />
          </a>
        </section>
      </section>
      <section>
        <h2>Web Apps</h2>
        <section>
          <h3>Devops Reactions Index</h3>
          Single page app for finding programming memes.
          <br />
          <a href="https://github.com/albertyw/devops-reactions-index">
            <img class="project-logos" src="{{ url_for('static', filename='github.png') }}" />
          </a>
          <a href="http://devopsreactionsindex.herokuapp.com/">
            <img class="project-logos" src="{{ url_for('static', filename='web.png') }}" />
          </a>
        </section>
        <section>
          <h3>Codemancer</h3>
          Repackaged <a href="https://chrome.google.com/webstore/detail/currently/ojhmphdkpgbibohbnpbfiefkgieacjmh">Currently</a> extension.
          <br />
          <a href="https://github.com/albertyw/currently-website">
            <img class="project-logos" src="{{ url_for('static', filename='github.png') }}" />
          </a>
          <a href="https://codemancer.com/">
            <img class="project-logos" src="{{ url_for('static', filename='web.png') }}" />
          </a>
        </section>
      </section>
    </section>
  </div>
  <div class="content">
    <section>
      <h1>You're running code that I've written if you use</h1>
      <ul>
        <li><a href="https://github.com/django/django/pull/1690">Django</a></li>
        <li><a href="https://github.com/django-extensions/django-extensions/pull/948">Django Extensions</a></li>
        <li><a href="https://github.com/jazzband/silk/pulls?q=is%3Apr+author%3Aalbertyw+is%3Aclosed">Django Silk</a></li>
        <li><a href="https://github.com/celery/celery/pull/2224">Celery</a></li>
        <li><a href="https://github.com/thoughtbot/shoulda-matchers/pull/789">Shoulda Matchers</a></li>
        <li><a href="https://github.com/rollbar/rollbar-gem/pull/265">Rollbar gem</a></li>
        <li><a href="https://github.com/jasmine/jasmine-ajax/pull/60">Jasmine Ajax</a></li>
        <li><a href="https://github.com/josegonzalez/python-github-backup">Python Github Backup</a></li>
      </ul>
    </section>
  </div>

{% endblock %}
