{% extends "includes/base.htm" %}
{% block title %}Albert Wang - Projects{% endblock %}
{% block description %}Projects{% endblock %}
{% block content %}
  <div class="content">
    <section>
      <h1>Open Source</h1>
      {% for language in projects.languages %}
        <section>
          <h2>{{ language.name }}</h2>
          <section>
            {% for project in language.projects %}
              <h3>{{ project.name }}</h3>
              {{ project.description }}
              <br />
              {% for link_type, link in project.links().items() %}
                <a href="{{ link }}">
                  <img class="project-logos" src="{{ url_for('static', filename=link_type+'.png') }}" />
                </a>
              {% endfor %}
            {% endfor %}
          </section>
        </section>
      {% endfor %}
    </section>
  </div>
  <div class="content">
    <section>
      <h1>You're running code that I've written if you use</h1>
      <ul>
        <li><a href="https://github.com/django/django/pull/1690">Django</a></li>
        <li><a href="https://github.com/django-extensions/django-extensions/pull/948">Django Extensions</a></li>
        <li><a href="https://github.com/jazzband/silk/pulls?q=is%3Apr+author%3Aalbertyw+is%3Aclosed">Django Silk</a></li>
        <li><a href="https://github.com/celery/celery/pull/2224">Celery</a></li>
        <li><a href="https://github.com/thoughtbot/shoulda-matchers/pull/789">Shoulda Matchers</a></li>
        <li><a href="https://github.com/rollbar/rollbar-gem/pull/265">Rollbar gem</a></li>
        <li><a href="https://github.com/jasmine/jasmine-ajax/pull/60">Jasmine Ajax</a></li>
        <li><a href="https://github.com/josegonzalez/python-github-backup">Python Github Backup</a></li>
      </ul>
    </section>
  </div>

{% endblock %}
