{% extends "includes/base.htm" %}
{% block title %}Albert Wang - Shelf{% endblock %}
{% block description %}Shelf{% endblock %}
{% block content %}
  <section class="content">
    <h1>Shelf</h1>
    {% for section in shelf.sections %}
      <h2>{{ section.name }}</h2>
      <ul class="selectable-list">
        {% for item in section.items %}
          <li>
            <a href="{{ item.link }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </section>
{% endblock %}
